<h4 class="title">Ajustes</h4>

<div class="container col-sm-10 col-lg-10 rounded header scroll ">
  <ag-grid-angular #agGrid
                   style="width: 100%; height: 400px;"
                   class="ag-theme-alpine"
                   [rowData]="rowData "
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef"
                   [pagination]="true"
                   [suppressMenuHide]="true"
                   [localeText]="localeText"
                   [rowSelection]="rowSelection"
                   [rowMultiSelectWithClick]="true"
                   (selectionChanged)="onSelectionChanged($event)">
  </ag-grid-angular>


</div>

<div class="container col-1 invisible">vacio</div>
<div class="container col-lg-10 tabla3 ">

  <div class="card">

    <div class="col-10 ">

      <a class="btn btn-outline-secondary btn-sm col-xs-2 btn-primary-spacing filep "
         [routerLink]="'/Procesos'">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
      </a>
      <button type="button" class="btn btn-outline-secondary btn-sm col-xs-2 btn-primary-spacing filep" data-toggle="modal" data-target="#myModal" data-backdrop="false" (click)="showModel()">
        <span class="fas fa-plus-circle" aria-hidden="true"></span> Agregar

      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm col-xs-2 btn-primary-spacing filep" data-toggle="modal" data-target="#elimina" data-backdrop="false" (click)="showModele()">
        <span class="fas fa-trash" aria-hidden="true"></span> Eliminar
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm col-xs-2 btn-primary-spacing filep" data-toggle="modal" data-target="#modifica" data-backdrop="false" (click)="showModelm()">
        <span class="fas fa-edit" aria-hidden="true"></span> Modificar
      </button>
    </div>
  </div>
  <div class="container col-1 invisible">vacio</div>
</div>
<div class="container col-1 invisible">vacio</div>


<div *ngIf="showModal">
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="width:660px;">
        <div class="modal-header color">
          <h6 class="modal-title" id="eliminatitle">{{title}}</h6>
        </div>

        <form [formGroup]="myformA" (ngSubmit)="enviar()">
          <div class="modal-body">

            <div class="row">
              <div class="col-md-2 top">  <label for="sel1">Empresa</label> </div>
              <div class="col-md-10 top">

                <ng-select formControlName="empresa" placeholder="Seleciona una opción">
                  <!--<option hidden value="">{{camposelect}}</option>-->
                  <ng-option *ngFor="let emp of this.emp" [value]="emp.empCodigo">
                    {{emp.empDescripcion}}
                  </ng-option>

                </ng-select>
              </div>
            </div>

            <div class="container col-1 invisible">vacio</div>

            <div class="row">
              <div class="col-md-2 top">  <label for="sel1">Periodo</label> </div>
              <div class="col-md-10 top">  <input type="month" class="form-control filepb" min="2020-03" formControlName="periodo" readonly="readonly"></div>

            </div>

            <div class="container col-1 invisible">vacio</div>

            <div class="row">
              <div class="col-md-2 top">  <label for="sel1">Rubro</label> </div>
              <div class="col-md-10 top">
                <ng-select formControlName="rubro" placeholder="Seleciona una opción">
                  <ng-option *ngFor="let rub of this.rubros" [value]="rub.rubCodigo">{{rub.rubCodigo}}- {{rub.rubDescripcion }}</ng-option>
                </ng-select>

                <!--[(ngModel)]="selectedRubro"-->
                <!--<select type="text" class="form-control" formControlName="rubro" data-style="btn-primary" data-live-search="true"
          data-selectpicker>
    <option hidden value="">{{camposelect}}</option>
    <option *ngFor="let rub of this.rubros " [ngValue]="rub">
      {{rub.rubCodigo}} - {{rub.rubDescripcion }}
  </select>-->
              </div>

            </div>

            <div class="container col-1 invisible">vacio</div>
            <div class="row">
              <div class="col-md-2 top">  <label for="sel1">Contraparte</label> </div>
              <div class="col-md-10 top">
                <select type="text" class="form-control " formControlName="contraparte">
                  <option hidden value="">{{camposelect}}</option>
                  <option *ngFor="let emp of this.emp" [ngValue]="emp">
                    {{emp.empIntercompany}}
                </select>
              </div>
            </div>
            <div class="container col-1 invisible">vacio</div>
            <div class="row">
              <div class="col-md-2 top">  <label for="sel1">Saldo</label> </div>
              <div class="col-md-10 top">  <input type="number" class="form-control " formControlName="saldo"></div>
            </div>
            <div class="container col-1 invisible">vacio</div>
            <div class="row">
              <div class="col-md-2 top">  <label for="sel1">Saldo Promedio</label> </div>
              <div class="col-md-10 top">  <input type="number" class="form-control " formControlName="saldopromedio"></div>
            </div>

            <div class="container col-1 invisible">vacio</div>
            <div *ngIf="success" class="alert alert-success" role="alert">
              Se grabo correctamente el ajuste
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
              Ajuste ya cargado
            </div>
            <div class="modal-footer to p  ">
              <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" (click)="cerrar()">
                <span class="fa fa-window-close" aria-hidden="true"></span>  Cerrar
              </button>
              <div *ngIf="!disabled">
                <button [disabled]="myformA.invalid" type="submit" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep">
                  <span class="fa fa-check-square" aria-hidden="true"></span>  Confirmar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModeleliminar">
  <div id="elimina" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header color">
          <h6 class="modal-title" id="eliminatitle">{{title}}</h6>

        </div>
        <div class="modal-body">
          <div class="row">
            <div *ngIf="showMsjemp">
              <label class="elim">{{msjelim}}</label>
            </div>
            <div *ngIf="showMsjemp1">
              <label class="elim">{{msjelim1}}{{desc}}?</label>
            </div>
          </div>
          <div class="container col-1 invisible">vacio</div>
          <div *ngIf="successe" class="alert alert-success" role="alert">
            Se elimino correctamente el ajuste
          </div>
          <div class="modal-footer to p  ">
            <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" data-dismiss="modal">
              <span class="fa fa-window-close" aria-hidden="true"></span>  Cerrar
            </button>
            <div *ngIf="showconf">
              <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" (click)="enviaelim()">
                <span class="fa fa-check-square" aria-hidden="true"></span>  Confirmar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModelmodificar">
  <div id="modifica" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="width:660px;">
        <div class="modal-header color">
          <h6 class="modal-title" id="eliminatitle">{{title}}</h6>

        </div>
        <form [formGroup]="myformM" (ngSubmit)="enviamod()">
          <div class="modal-body">
            <div *ngIf="showMsjemp">
              <label class="elim">{{msjelim}}</label>

            </div>
            <div *ngIf="showMsjmod">

              <div class="row">
                <div class="col-md-2 top">  <label for="sel1">Empresa</label> </div>
                <div class="col-md-10 top">
                  <select class="form-control filepb" formControlName="empresam" readonly="readonly" disabled>
                    <option hidden value="">{{this.empresam}}</option>

                    <option *ngFor="let emp of this.emp" [ngValue]="emp">
                      {{emp.empDescripcion}}

                  </select>
                </div>
              </div>

              <div class="container col-1 invisible">vacio</div>
              <div class="row">
                <div class="col-md-2 top">  <label for="sel1">Periodo</label> </div>
                <div class="col-md-10 top">  <input type="month" class="form-control filepb" min="2020-03" formControlName="periodom" readonly="readonly"> </div>
              </div>

              <div class="container col-1 invisible">vacio</div>
              <div class="row">
                <div class="col-md-2 top">  <label for="sel1">Rubro</label> </div>
                <div class="col-md-10 top">
                  <select type="text" class="form-control" formControlName="rubrom" readonly="readonly" disabled>
                    <option hidden value="">{{this.rubrom}}</option>
                    <option *ngFor="let rub of this.rubros " [ngValue]="rub">
                      {{rub.rubCodigo}} - {{rub.rubDescripcion }}
                  </select>

                </div>
              </div>


              <div class="container col-1 invisible">vacio</div>
              <div class="row">
                <div class="col-md-2 top">  <label for="sel1">Contraparte</label> </div>
                <div class="col-md-10 top">
                  <select type="text" class="form-control " formControlName="contrapartem" readonly="readonly" disabled>
                    <option hidden value="">{{this.contrapartem}}</option>
                    <option *ngFor="let emp of this.emp" [ngValue]="emp">
                      {{emp.empIntercompany}}
                  </select>
                </div>
              </div>
              <div class="container col-1 invisible">vacio</div>
              <div class="row">
                <div class="col-md-2 top">  <label for="sel1">Saldo</label> </div>
                <div class="col-md-10 top">  <input type="number" class="form-control" value="{{this.saldom}}" formControlName="saldom"></div>
              </div>
              <div class="container col-1 invisible">vacio</div>
              <div class="row">
                <div class="col-md-2 top">  <label for="sel1">Saldo Promedio</label> </div>
                <div class="col-md-10 top">  <input type="number" class="form-control" value="{{this.saldopromediom}}" formControlName="saldopromediom"></div>
              </div>
            </div>
            <div class="container col-1 invisible">vacio</div>
            <div *ngIf="successm" class="alert alert-success" role="alert">
              Se modifico correctamente el ajuste
            </div>
            <div class="modal-footer to p  ">
              <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" data-dismiss="modal">
                <span class="fa fa-window-close" aria-hidden="true"></span>  Cerrar
              </button>
              <div *ngIf="showconfr">
                <button type="submit" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep">
                  <span class="fa fa-check-square" aria-hidden="true"></span>  Confirmar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


