<h4 class="title">Reportes</h4>

<div class="container col-sm-10 col-lg-10  tabla3 ">
  <div class="card">
    <form [formGroup]="myform" (ngSubmit)="periodo()">
      <div class="card-header color">Filtro </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="row">
              <label class="filep" for="sel1">Periodo</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="month" class="form-control filepb" min="2020-03" formControlName="fecha" (change)="periodo()">
                </div>
              </div>
            </div>
          </div>


          <!--<div class="col-xs-3 col-sm-4 text-center">
            <div class="row">
              <div class="col-md-4 top">  <label class="filep" for="sel1">Grupo</label> </div>
              <div class="col-md-8 top">
                <select type="text" class="form-control filepb " formControlName="grupo" (change)="periodo()">
                  <option *ngFor="let grp of this.grupos">
                    {{grp.grupoNombre}}
                </select>
              </div>
            </div>
          </div>-->

        </div>

      </div>
      <!-- <button hidden type="submit" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" (focusout)="enviar()" >
        <span  class="fa fa-check-square" aria-hidden="true"></span>  Confirmar
      </button> -->
    </form>
  </div>
</div>

<div class="container col-1 invisible">vacio</div>
<div class="container col-sm-10 col-lg-10 rounded header scroll ">
  <!-- [rowData]="rowData | async" -->
  <ag-grid-angular #agGrid
                   style="width: 100%; height: 400px;"
                   class="ag-theme-alpine"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef"
                   [pagination]="true"
                   [suppressMenuHide]="true"
                   [localeText] = "localeText"
                   [rowSelection]="rowSelection"
                   [rowMultiSelectWithClick]="true"
                   (selectionChanged)="onSelectionChanged($event)">
  </ag-grid-angular>


</div>





<div class="container col-1 invisible">vacio</div>
<div class="container col-lg-10 tabla3 ">

  <div class="card">
    <div class="col-10 ">

      <button type="button" class="btn btn-outline-secondary btn-sm col-xs-2 btn-primary-spacing filep" data-toggle="modal" data-target="#txt" data-backdrop="false" (click)="ShowTXT()">
        <span class="fa fa-file" aria-hidden="true"></span> Generar Txt
      </button>

      <button type="button" class="btn btn-outline-secondary btn-sm col-xs-2 btn-primary-spacing filep" data-toggle="modal" data-target="#excel" data-backdrop="false" (click)="ShowExcel()">
        <span class="fa fa-file-excel" aria-hidden="true"></span> Generar Excel
      </button>

    </div>

  </div>
  <div class="container col-1 invisible">vacio</div>
</div>


<div class="container col-1 invisible">vacio</div>



<div *ngIf="showtxt">
  <div class="modal fade" id="txt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content tam">
        <div class="modal-header color">
          <h6 class="modal-title" id="eliminatitle">Generar txt</h6>
        </div>
        <div class="modal-body">
          <div class="input-group mb-2">
            <div>
              <label></label>
            </div>
            <label>¿Desea generar el archivo txt para el periodo seleccionado?</label>
          </div>
          <div *ngIf="alerttext" class="alert alert-success aler " role="alert">
            <p>El txt se genero correcamente </p>
          </div>
          <div *ngIf="errortext" class="alert alert-danger aler " role="alert">
            <p>Hubo un error en la generacion del archivo. </p>
          </div>

        </div>
        <div class="modal-footer to p ">
          <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" data-dismiss="modal">
            <span class="fa fa-window-close" aria-hidden="true"></span>  Cerrar
          </button>
          <div *ngIf="!alerttext">
            <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" (click)="generatxt()">
              <span class="fa fa-check-square" aria-hidden="true"></span>  Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showexcel">
  <div class="modal fade" id="excel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content tam">
        <div class="modal-header color">
          <h6 class="modal-title" id="eliminatitle">Generar Excel</h6>
        </div>
        <div class="modal-body">
          <div class="input-group mb-2">
            <div>
              <label></label>
            </div>
            <label>¿Desea generar el archivo excel para el periodo seleccionado?</label>
          </div>
          <div *ngIf="alerttext" class="alert alert-success aler " role="alert">
            <p>El excel se genero correcamente </p>
          </div>
          <div *ngIf="errortext" class="alert alert-danger aler " role="alert">
            <p>Hubo un error en la generacion del excel. </p>
          </div>

        </div>
        <div class="modal-footer to p ">
          <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" data-dismiss="modal">
            <span class="fa fa-window-close" aria-hidden="true"></span>  Cerrar
          </button>
          <div *ngIf="!alertexcel && !errorexcel">
            <button type="button" class="btn btn-outline-secondary btn-sm  btn-primary-spacing filep" (click)="generaExcel()">
              <span class="fa fa-check-square" aria-hidden="true"></span>  Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





